<app-header></app-header>

<div class="background">
    <div class="container">
        <div class="section-1">
            <button class="back-button" (click)="goBack()"><img style="position: absolute; top: 0px; left: -20px;" src="assets/img/arrow.png" alt="arrow">Atrás</button>
        </div>

        <div class="section-2">
            <div class="progress-text">14/16</div>
            <div class="progress-bar-container">
                <div class="progress-bar"></div>
            </div>
        </div>

        <div class="section-3">
            <div class="question">¿Cuál es tu nombre?</div>
        </div>

        <div class="section-4">
            <label>Nombre</label>
            <input class="input" type="text" placeholder="Introdusca su nombre">
            <label>Apellido</label>
            <input class="input" type="text" placeholder="Introdusca su apellido">
        </div>

        <button class="continue" (click)="change()">Continuar</button>

        <div class="astro"></div>

    </div>
</div>

<app-footer></app-footer>
