<app-header></app-header>

<div class="background">
    <div class="container">
        <div class="top-text">
            <label style="font-weight: 700;">Con esta compra, obtendrás la lectura de tu carta astral personalizada y analizada por nuestra Inteligencia Artificial. </label>
            También recibirás contenidos especiales creados por nosotros sobre los acontecimientos astrológicos mensuales y cómo pueden afectarte. 
            Además de una serie de números basados en tus datos que puedes usar para jugar la lotería.
        </div>

        <div class="section-1">
            <div>
                <div>Numero de tarjeta</div>
                <input class="input-1" type="text">
            </div>
            
            <div>
                <div>Nombre del titular</div>
                <input class="input-1" type="text">
            </div>

            <div class="card-info">
                <div class="caducidad">
                    <div style="margin-left: 1rem;">Fecha de caducidad</div>
                    <input class="input-2" style="margin-left: 1.6rem;" type="text">
                </div>
                <div>
                    <div style="margin-left: -1rem;">CVV</div>
                    <input class="input-3" type="text">
                </div>
            </div>
        </div>

        <div class="section-2">
            <div>Total</div>
            <div>COP $5.000</div>
        </div>

        <button class="button">Continuar</button>

        <div class="section-3">
            Tu período de prueba terminará después de 7 días y tu suscripción comenzará automáticamente mensual 
            por $5.000 pesos colombianos. Puedes cancelar tu suscripción cuando quieras
        </div>

        <div class="section-4">
            Siempre puedes ponerte en contacto con nosotros. Click para obtener ayuda. 
            <br><br>
            Una vez que complete el pago seguro, usted acepta nuestros Términos y Condiciones, Política de Privacidad. PayPal gestiona los pagos. Reportar un problema https://www.compercreativo.com/contacto-comper-creativo
        </div>
        <div class="astro"></div>
    </div>
</div>
<app-footer></app-footer>