<app-header></app-header>

<div class="background">
    <div class="container">
        <br>
        <div class="section-1">Tómate tu tiempo para responder las preguntas.</div>
        <br>
        <div class="section-2">Tus respuestas nos ayudarán a conocerte mejor y ofrecerte contenido personalizado</div>
        <button class="button" (click)="change()">Comencemos</button>
        <br>
        <div class="section-3">Garantizamos la privacidad de tus datos. Al continuar, tú aceptas los términos y las condiciones de Ruta Astral.</div>
        <img src="assets/img/astro.png" alt="Astrological Chart" class="astro">
    </div>
</div>
<app-footer></app-footer>