<app-header></app-header>

<div class="background">
    <div class="container">
        <div class="section-1">
            <button class="back-button" (click)="goBack()"><img style="position: absolute; top: 0px; left: -20px;" src="assets/img/arrow.png" alt="arrow">Atrás</button>
        </div>

        <div class="section-2">
            <div class="progress-text">9/16</div>
            <div class="progress-bar-container">
                <div class="progress-bar"></div>
            </div>
        </div>

        <div class="section-3">
            <div class="question">¿En qué has pensado últimamente?</div>
        </div>

        <div class="section-4">
            <div class="div1 button" (click)="change()">
                <img class="questions-img" src="assets/img/dinero.png" alt="casado">
                <label>Dinero</label>
            </div>

            <div class="div2 button" (click)="change()">
                <img class="questions-img" src="assets/img/amor.png" alt="Comprometido">
                <label>Amor</label>
            </div>

            <div class="div3 button" (click)="change()">
                <img class="questions-img" src="assets/img/trabajo.png" alt="casado">
                <label>Trabajo</label>
            </div>
            <div class="div4 button" (click)="change()">
                <img class="questions-img" src="assets/img/salud.png" alt="Comprometido">
                <label>Salud</label>
            </div>

            <div class="div5 button" (click)="change()">
                <img class="questions-img" src="assets/img/familia.png" alt="casado">
                <label>Familia</label>
            </div>
            <div class="div6 button" (click)="change()">
                <img class="questions-img" src="assets/img/amistad.png" alt="Comprometido">
                <label>Amistad</label>
            </div>
        </div>

        <div class="astro">
        </div>

    </div>
</div>

<app-footer></app-footer>
