<app-header></app-header>

<div class="background">
    <div class="container">
        <div style="text-align: left;">
            <button class="back-button" style="position: absolute; top: 20px; left: -10px;" (click)="goBack()"><img src="assets/img/arrow.png" alt="arrow"><label style="position: absolute; top: 5px; left: 30px;">Atrás</label></button>
        </div>
        <div>
            <img class="top-image" src="assets/img/pause3.png" alt="pause">
        </div>
        <div class="section-1">La carta natal no es una adivinación</div>
        <div class="section-2">
            <div>
                Es una ciencia exacta. No dirá con quién te casarás, pero puede interpretar cómo encontrarás la felicidad en el matrimonio.
            </div>
            <br>
            <div>
                Es una guía basada en los astros de acuerdo a la posición del universo al momento exacto de tu nacimiento.
            </div>
            <br>
            <div>
                Nuestro sistema, validado por astrólogos expertos y potencializado con Inteligencia Artificial, te entregarán la ruta hacia una vida prospera.
            </div>
        </div>
        <button class="button" (click)="change()">Continuar</button>
        <div class="astro"></div>
    </div>
</div>
<app-footer></app-footer>