<app-header></app-header>

<div class="background">
    <div class="container">
        <div style="text-align: left;">
            <button class="back-button" style="position: absolute; top: 20px; left: -30px;" (click)="goBack()"><img src="assets/img/arrow.png" alt="arrow"><label style="position: absolute; top: 5px; left: 30px;">Atrás</label></button>
        </div>
        <div>
            <img class="top-image" src="assets/img/pause5.png" alt="pause">
        </div>
        <div class="section-1">Gracias por compartirlo</div>
        <div class="section-2">
            <div>
                Nuestra misión es mejorar tu conciencia personal y ayudarte a descubrir tus habilidades ocultas.
            </div>
            <br>
            <div>
                Con los resultados de tu carta astral, podrás obtener tu número de la suerte y los momentos adecuados para, como por ejemplo, jugar la lotería o hacer inversiones financieras.
            </div>
        </div>
        <button class="button" (click)="change()">Continuar</button>
        <div class="astro"></div>
    </div>
</div>
<app-footer></app-footer>