<app-header></app-header>

<div class="background">
    <div class="container">

        <div class="container-image">
            <img class="top-image" src="assets/img/charge.png" alt="charge">
            <div class="charge">{{ progress }}%</div>
        </div>
        <div class="section-2">
            <div class="check">
                <img src="assets/img/check.png" alt="check" width="25" height="25"> <div>Tus respuestas están siendo analizadas y contrastadas por nuestra Inlegiencia Artificial.</div>
            </div>
            <br>
            <div class="check">
                <img src="assets/img/check.png" alt="check" width="25" height="25"> <div>Se calculan las posiciones del Sol, la Luna y los planetas del momento de tu nacimiento.</div>
            </div>
            <br>
            <div class="check">
                <img src="assets/img/check.png" alt="check" width="25" height="25"> <div>Se analizan los números que rodean tu signo zodiacal para que traigas la suerte a tu vida.</div>
            </div>
            <br>
            <div class="check">
                <img src="assets/img/check.png" alt="check" width="25" height="25"> <div>Se está creando tu cuenta personalizada.</div>
            </div>
        </div>
        <div class="astro"></div>
    </div>
</div>
<app-footer></app-footer>