<div class="background">
    <div class="container">
        <div class="flex">
            <div class="content-center-image item-1">
                <img src="assets/img/luna.png" alt="image" class="planet-image">
            </div>

            <div class="text-justify item-2">
                <h2 class="text-center" style="text-align: center;">¡Descubre tu carta astral con unas preguntas en línea!</h2>
                <div class="paragraph">
                    <p style="text-align: left;">
                        Simplemente, responde algunas preguntas y generaremos tu carta natal personalizada y procesada por
                        nuestra Inteligencia Artificial. Podrás descargarla en tu computadora o celular.
                    </p>
                </div>
            </div>
        </div>

        <div class="container-final">
            <div class="text-overlay">
                <h2 class="text-center">¿Cómo se crea una carta natal?</h2>
                <p>Tienes que responder a algunas preguntas como tu lugar de nacimiento, tu hora de nacimiento,
                    luego
                    determinaremos la posición de los planetas en relación con la Tierra en el momento
                    específico de tu
                    nacimiento.
                </p>
            </div>
            <button class="btn-primary" (click)="irAInit()">Haz clic aquí para comenzar</button>
        </div>
        
    </div>
</div>