<div class="background">
    <div class="container">
        <div class="flex">
            <div class="item-1">
                <br>
                <div class="row text-center">
                    <div class="col">
                        <!-- Cambiamos div a img -->
                        <img src="assets/img/circulo.png" alt="Astrological Chart" class="circle-image">
                    </div>
                </div>
            </div>

            <div class="item-2">
                <div>
                    <br>
                    <h2 class="text-big bold-text">Conoce acerca de las casas</h2>
                    <br>
                    <div class="text-small" style="text-align: left;">
                        <p>Las casas astrológicas representan diferentes aspectos de la vida de una persona:</p>
                    </div>
                    <br>
                </div>

                <div style="text-align: left;">
                    <div class="text-small"><span class="bold-text">Primera Casa: </span>Personalidad y autoimagen.</div>
                    <div class="text-small"><span class="bold-text">Segunda Casa: </span>Recursos financieros.</div>
                    <div class="text-small"><span class="bold-text">Tercera Casa: </span>Comunicación y entorno cercano.</div>
                    <div class="text-small"><span class="bold-text">Cuarta Casa: </span>Hogar y familia.</div>
                    <div class="text-small"><span class="bold-text">Quinta Casa: </span>Creatividad y amor.</div>
                    <div class="text-small"><span class="bold-text">Sexta Casa: </span>Trabajo y salud.</div>
                    <div class="text-small"><span class="bold-text">Séptima Casa: </span>Relaciones y asociaciones.</div>
                    <div class="text-small"><span class="bold-text">Octava Casa: </span>Transformación y herencia.</div>
                    <div class="text-small"><span class="bold-text">Novena Casa: </span>Viajes y filosofía.</div>
                    <div class="text-small"><span class="bold-text">Décima Casa: </span>Carrera y metas.</div>
                    <div class="text-small"><span class="bold-text">Décima Primera Casa: </span>Amistades y grupos.</div>
                    <div class="text-small"><span class="bold-text">Décima Segunda Casa: </span>Subconsciente y espiritualidad.</div>
                </div>
                <br>
            </div>
        </div>

        <div class="text-small" style="text-align: center;">
            <p>Recuerda que es importante consultar a expertos para interpretar una carta astral.</p>
        </div>
        <br>
        <h3 class="text-small bold-text">
            Nosotros ofrecemos el servicio de Profundización de tu Carta astral con astrólogos especializados
        </h3>

    </div>
</div>