<app-header></app-header>

<div class="page-header">
  <div class="title-text">
      Aquí inicia tu ruta
  </div>
  <div class="content-center">
      <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
              <h3 class="title-h3">
                  ¿Deseas comprender tu propósito en la vida y las influencias cósmicas que te rodean?
              </h3>
              <h4 class="description">
                  Con nuestra Carta Astral en línea potenciada con Inteligencia Artificial, puedes explorar aspectos
                  profundos de tu vida y recibir una guía basada en los astros.
              </h4>
              <h4 class="title-h3">
                  ¡Sumérgete en la magia de la astrología y descubre tu potencial oculto!
              </h4>
              <br>
              <h1>Inicia tu camino</h1>
              <br>
              <button type="button" class="buttonInit" (click)="irAInit()">
                  Haz clic aqui para comenzar
              </button>
              <br><br><br><br><br><br>
          </div>
      </div>
  </div>
</div>


<app-section-1></app-section-1>
<app-section-2></app-section-2>
<app-section-3></app-section-3>

<app-footer></app-footer>